* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    /* note to self - setting padding and margin to zero gets rid of default html settings */
}

header {
    background: lavender;
    position: fixed;
    width: 100%;
    border: 2px solid black;
}

h1 {
    background: peachpuff;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

nav {
    float: right;
    margin-right: 20px;
}

header li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px 15px;
}

a {
    color: olivedrab;
}
